In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from fancyimpute import knn
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns

# Read the data
X = pd.read_csv('train.csv', index_col='Employee_ID')
X_test_full = pd.read_csv('test.csv', index_col='Employee_ID')

In [30]:
# Read the data
X = pd.read_csv('train.csv', index_col='Employee_ID')
X_test_full = pd.read_csv('test.csv', index_col='Employee_ID')

In [31]:
pd.options.display.max_columns = None
X.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
Employee_ID,,,,,,,,,,,,,,,,,,,,,,,
EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4.0,5,3.0,0.1841
EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3.0,5,3.0,0.0670
EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3.0,8,3.0,0.0851
EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3.0,7,3.0,0.0668
EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2.0,8,2.0,0.1827

In [32]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7000 entries, EID_23371 to EID_1640
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     7000 non-null   object
 1   Age                        6588 non-null   float64
 2   Education_Level            7000 non-null   int64
 3   Relationship_Status        7000 non-null   object
 4   Hometown                   7000 non-null   object
 5   Unit                       7000 non-null   object
 6   Decision_skill_possess     7000 non-null   object
 7   Time_of_service            6856 non-null   float64
 8   Time_since_promotion       7000 non-null   int64
 9   growth_rate                7000 non-null   int64
 10  Travel_Rate                7000 non-null   int64
 11  Post_Level                 7000 non-null   int64
 12  Pay_Scale                  6991 non-null   float64
 13  Compensation_and_Benefits  7000 non-null   object
 14  Work_Life_balance          6989 non-null   float64
 15  VAR1                       7000 non-null   int64
 16  VAR2                       6423 non-null   float64
 17  VAR3                       6999 non-null   float64
 18  VAR4                       6344 non-null   float64
 19  VAR5                       7000 non-null   float64
 20  VAR6                       7000 non-null   int64
 21  VAR7                       7000 non-null   float64
 22  Attrition_rate             7000 non-null   float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.3+ MB

In [33]:
X.columns

Index(['Gender', 'Age', 'Education_Level', 'Relationship_Status', 'Hometown',
       'Unit', 'Decision_skill_possess', 'Time_of_service',
       'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Attrition_rate'],
      dtype='object')

In [34]:
#instantiate both packages to use
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import KNNImputer as KNN
encoder = OrdinalEncoder()
imputer = KNN()
# create a list of categorical columns to iterate over
cat_cols = ['Gender','Relationship_Status', 'Hometown',
       'Unit', 'Decision_skill_possess', 'Compensation_and_Benefits' ]

def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data

#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(X[columns])

/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/nitins/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [35]:
X

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
Employee_ID,,,,,,,,,,,,,,,,,,,,,,,
EID_23371,0.0,42.0,4,0.0,1.0,2.0,2.0,4.0,4,33,1,1,7.0,2.0,3.0,4,0.7516,1.868800,2.0,4.0,5,3.0,0.184100
EID_18000,1.0,24.0,3,1.0,3.0,3.0,0.0,5.0,4,36,0,3,6.0,2.0,4.0,3,-0.9612,-0.453700,2.0,3.0,5,3.0,0.067000
EID_3891,0.0,58.0,3,0.0,0.0,8.0,2.0,27.0,3,51,0,2,8.0,2.0,1.0,4,-0.9612,-0.453700,3.0,3.0,8,3.0,0.085100
EID_17492,0.0,26.0,3,1.0,2.0,1.0,1.0,4.0,3,56,1,3,8.0,2.0,1.0,3,-1.8176,-0.453700,NaN,3.0,7,3.0,0.066800
EID_22534,0.0,31.0,1,0.0,3.0,3.0,2.0,5.0,4,62,1,3,2.0,3.0,3.0,1,0.7516,-0.453700,2.0,2.0,8,2.0,0.182700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EID_16328,0.0,23.0,5,0.0,1.0,5.0,1.0,4.0,1,20,1,2,6.0,3.0,3.0,1,0.7516,-0.453700,2.0,3.0,7,3.0,0.189361
EID_8387,0.0,44.0,1,0.0,2.0,9.0,0.0,16.0,2,59,0,2,4.0,3.0,3.0,2,-0.1048,-0.013212,2.0,4.0,8,4.0,0.105500
EID_8077,0.0,49.0,3,1.0,3.0,2.0,3.0,10.0,1,59,1,2,3.0,2.0,4.0,2,-0.1048,-0.453700,2.0,4.0,8,3.0,0.189361
EID_19597,0.0,47.0,3,0.0,4.0,10.0,1.0,24.0,1,21,1,5,8.0,0.0,2.0,4,0.7516,1.868800,2.0,3.0,6,3.0,0.416200
EID_1640,0.0,58.0,3,0.0,1.0,2.0,3.0,22.0,2,74,0,4,5.0,2.0,3.0,3,-0.1048,-1.615000,3.0,4.0,5,3.0,0.091000

In [36]:
X = pd.DataFrame(imputer.fit_transform(X),columns = X.columns)

In [37]:
X

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,0.0,42.0,4.0,0.0,1.0,2.0,2.0,4.0,4.0,33.0,1.0,1.0,7.0,2.0,3.0,4.0,0.7516,1.868800,2.0,4.0,5.0,3.0,0.184100
1,1.0,24.0,3.0,1.0,3.0,3.0,0.0,5.0,4.0,36.0,0.0,3.0,6.0,2.0,4.0,3.0,-0.9612,-0.453700,2.0,3.0,5.0,3.0,0.067000
2,0.0,58.0,3.0,0.0,0.0,8.0,2.0,27.0,3.0,51.0,0.0,2.0,8.0,2.0,1.0,4.0,-0.9612,-0.453700,3.0,3.0,8.0,3.0,0.085100
3,0.0,26.0,3.0,1.0,2.0,1.0,1.0,4.0,3.0,56.0,1.0,3.0,8.0,2.0,1.0,3.0,-1.8176,-0.453700,2.0,3.0,7.0,3.0,0.066800
4,0.0,31.0,1.0,0.0,3.0,3.0,2.0,5.0,4.0,62.0,1.0,3.0,2.0,3.0,3.0,1.0,0.7516,-0.453700,2.0,2.0,8.0,2.0,0.182700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.0,23.0,5.0,0.0,1.0,5.0,1.0,4.0,1.0,20.0,1.0,2.0,6.0,3.0,3.0,1.0,0.7516,-0.453700,2.0,3.0,7.0,3.0,0.189361
6996,0.0,44.0,1.0,0.0,2.0,9.0,0.0,16.0,2.0,59.0,0.0,2.0,4.0,3.0,3.0,2.0,-0.1048,-0.013212,2.0,4.0,8.0,4.0,0.105500
6997,0.0,49.0,3.0,1.0,3.0,2.0,3.0,10.0,1.0,59.0,1.0,2.0,3.0,2.0,4.0,2.0,-0.1048,-0.453700,2.0,4.0,8.0,3.0,0.189361
6998,0.0,47.0,3.0,0.0,4.0,10.0,1.0,24.0,1.0,21.0,1.0,5.0,8.0,0.0,2.0,4.0,0.7516,1.868800,2.0,3.0,6.0,3.0,0.416200
6999,0.0,58.0,3.0,0.0,1.0,2.0,3.0,22.0,2.0,74.0,0.0,4.0,5.0,2.0,3.0,3.0,-0.1048,-1.615000,3.0,4.0,5.0,3.0,0.091000

In [38]:
from skmlm import NN_MLM
from sklearn.preprocessing import MinMaxScaler
n_scalar=MinMaxScaler()
X_train_full=n_scalar.fit_transform(X_train_full.astype(np.float))
y_train=n_scalar.fit_transform(y_train.astype(np.float))

ValueError: Expected 2D array, got 1D array instead:
array=[0.0189     0.18936129 0.166      ... 0.0021     0.2253     0.0852    ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [25]:
# Remove rows with missing target, separate target from predictors
X.dropna(axis=0, subset=['Attrition_rate'], inplace=True)
y = X.Attrition_rate          
X.drop(['Attrition_rate'], axis=1, inplace=True)

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

ValueError: Expected 2D array, got 1D array instead:
array=[0.0189     0.18936129 0.166      ... 0.0021     0.2253     0.0852    ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [41]:

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numeric columns
numeric_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = low_cardinality_cols + numeric_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

# One-hot encode the data (to shorten the code, we use pandas)
X_train = pd.get_dummies(X_train)
X_valid = pd.get_dummies(X_valid)
X_test = pd.get_dummies(X_test)
X_train, X_valid = X_train.align(X_valid, join='left', axis=1)
X_train, X_test = X_train.align(X_test, join='left', axis=1)

In [42]:


from sklearn.neighbors import KNeighborsClassifier
my_model_1 = KNeighborsClassifier()



# Fit the model
my_model_1.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [59]:
from sklearn.metrics import mean_absolute_error

# Get predictions
predictions_1 = my_model_1.predict(X_valid)# Your code here
mae_1 = mean_absolute_error(predictions_1, y_valid)
print("Mean Absolute Error:" , mae_1)

Mean Absolute Error: 0.1473817875202724

In [60]:
# Define the model
my_model_2 = XGBRegressor(n_estimators=1000, learning_rate=0.05)

# Fit the model
my_model_2.fit(X_train, y_train)

# Get predictions
predictions_2 = my_model_2.predict(X_valid)

# Calculate MAE
mae_2 = mean_absolute_error(predictions_2, y_valid)
print("Mean Absolute Error:" , mae_2)

Mean Absolute Error: 0.14238905969006677

In [77]:
# Define the model
my_model_3 = XGBRegressor(n_estimators=112, learning_rate=0.05)

# Fit the model
my_model_3.fit(X_train, y_train)

# Get predictions
predictions_3 = my_model_3.predict(X_valid)

# Calculate MAE
mae_3 = mean_absolute_error(predictions_3, y_valid)
print("Mean Absolute Error:" , mae_3)

Mean Absolute Error: 0.13166937847978727

In [79]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-2.3.1-py2.py3-none-macosx_10_9_x86_64.macosx_10_10_x86_64.macosx_10_11_x86_64.macosx_10_12_x86_64.macosx_10_13_x86_64.macosx_10_14_x86_64.macosx_10_15_x86_64.whl (679 kB)
     |████████████████████████████████| 679 kB 364 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from lightgbm) (0.22.1)
Requirement already satisfied: scipy in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from lightgbm) (1.18.1)
Requirement already satisfied: joblib>=0.11 in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->lightgbm) (0.14.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

In [13]:
!pip install scikit-mlm

Collecting scikit-mlm
  Downloading scikit-mlm-0.1.1.tar.gz (7.4 kB)
Requirement already satisfied: numpy>=1.15.4 in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from scikit-mlm) (1.18.1)
Requirement already satisfied: scipy>=1.1.0 in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from scikit-mlm) (1.4.1)
Requirement already satisfied: scikit-learn>=0.21.0 in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from scikit-mlm) (0.22.1)
Collecting fuzzy-c-means>=0.0.6
  Downloading fuzzy_c_means-0.0.6-py3-none-any.whl (3.5 kB)
Collecting mrsr>=0.0.3
  Downloading mrsr-0.0.5-py3-none-any.whl (3.9 kB)
Requirement already satisfied: joblib>=0.11 in /Users/nitins/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.21.0->scikit-mlm) (0.14.1)
Building wheels for collected packages: scikit-mlm
  Building wheel for scikit-mlm (setup.py) ... done
  Created wheel for scikit-mlm: filename=scikit_mlm-0.1.1-py3-none-any.whl size=8042 sha256=80271cb71948df873dce1388b8a5982b335c044e6c3f6c0e91ddd4614d3db53d
  Stored in directory: /Users/nitins/Library/Caches/pip/wheels/7e/6e/e2/a480031d975f0cb1dd566ee47a6f55c8a962d5b748c1444a50
Successfully built scikit-mlm
Installing collected packages: fuzzy-c-means, mrsr, scikit-mlm
Successfully installed fuzzy-c-means-0.0.6 mrsr-0.0.5 scikit-mlm-0.1.1